<% content_for :title, "Editing catalog" %>

<div class="d-flex justify-content-end">
  <%=
    link_to I18n.t("catalogs.actions.back_to_catalogs"),
    catalogs_path, 
    class: "btn btn-outline-secondary btn-sm me-2" 
  %>

  <%=
    link_to I18n.t("catalogs.actions.show_catalog_item"),
    @catalog, 
    class: "btn btn-outline-primary btn-sm me-2" 
  %>

  <%=
    button_to I18n.t("catalogs.actions.delete"),
    @catalog,
    method: :delete,
    class: "btn btn-danger btn-sm"
  %>
</div>

<h1><%= I18n.t("catalogs.edit_item", name: @catalog.product_name) %></h1>

<hr />

<%= render "form", catalog: @catalog %>
