<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ebio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"> 
        <div class="col-md-1 mb-2 mb-md-0"></div>
        <div class="col-md-3 mb-2 mb-md-0"> 
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none display-6"> 
            <%= I18n.t("app_name") %>
          </a> 
        </div> 
        <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0"> 
          <%# <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li> %>
        </ul> 
        <div class="col-md-3 text-end">
          <%= link_to I18n.t("add_item"), new_catalog_path, class: "btn btn-primary" %>
        </div>
        <div class="col-md-1 mb-2 mb-md-0"></div>
    </header>

    <div class="container">
      <div class="bg-body-tertiary p-3 rounded">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
